sudo: required

services:
  - docker
  - docker-compose

env:
  global:
    - MONGODB_URL: mongodb://localhost:27017/test

before_install:
  - docker-compose -f docker-compose.test.yml up -d mongo 

install: npm i --quiet

language: node_js

cache:
  directories:
    - "node_modules"

script: npm test -- --coverage

after_success: bash <(curl -s https://codecov.io/bash)
